{% extends "master.html" %}
{% from "_formhelpers.html" import render_field_in_row %}

{% block title %}Lost password{% endblock %}
{%block tag %}home{% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<h2>Lost password?</h2>

<form role="form" action="{{ url_for('lost_password') }}" method="POST">
  <table>
    {{ render_field_in_row(form.username) }}
  </table>
  <p class="buttons indent">
    <input type="submit" class="submit positive button" value="Send email">
    <a href="{{ url_for('index') }}">
      <input type="button" value="Cancel" class="button">
    </a>
    {{ form.csrf_token }}
  </p>
</form>
</div>

{% endblock %}
